# Repository URL, HTTPS or SSH
repo_url=""

# The user script file that will be run inside repo
user_script_file="user-script.sh"

# Base directory for builds eg. build
build_dir_base="build"

# Subdirectory that repo will be cloned to, relative to build directory
clone_dir="repo"

# Output filename for build logs, relative to build directory
log_filename="output.log"

# Directory to hold bookkeeping files
bookkeeping_dir=".ci"

# Build type, currently only "directory" is available
build_type="directory"