#!/usr/bin/env bash

# Create the build number
#
# The current implementation increments a digit and outputs
# build numbers 0001, 0002, 0003, ...
#
# This file should set the variables:
#
#  $build_dir  A string that will be used as the build directory
#              Should be a subdirectory of $build_dir_base

# Example
# Use the sample-build-dir as build directory
export build_dir="$build_dir_base/sample-build-dir"