#!/usr/bin/env bash

# Post user-script
#
# Runs AFTER user-script.sh has run inside the build directory
#
# Available variables:
#
#  $user_script_exit_code  The exit code from user-script
#  $log_file               The log file with output from user-script